body {
    padding-top: 60px; 
}

.span4, .span12{
	min-height: 500px;
}

.span4{
    width:219px;
    border-right: 1px solid #EEEEEE;
}

ul.pills li{
    padding-left: 40px;
}


ul.errorlist{
	list-style: none;
	margin-bottom: 8px;
}

ul.errorlist li{
    color: #B94A48;
}

#header-pull-right{
    color: #BFBFBF;
}

#pager select.pagesize{
	width: 80px;
}