{% extends 'base.html' %}

{% block title %} - Change Password{% endblock %}

{% block css %}

label{
	width: 200px;
	padding-right: 5px;
}

ul.errorlist{
	margin-left: 205px;
}

{% endblock %}

{% block dash_active %}
{% endblock %}


{% block left-nav %}
		<ul class="pills">
			<li><a href="/">Summary by Identifier </a></li>
			<li><a href="/referrer">Summary by Referrer </a></li>
			<li class="active"><a href="/password/change/">Change Password</a></li>
		</ul>
{% endblock left-nav %}


{% block right-table %}
	{% block form-error %}
	{% endblock form-error %}
	<h1>Change Password</h1>
		<form method="post" action=".">
			{% csrf_token %}
		    {{form.as_p}}
			<p>
				<label for="id_change_password"></label>
		    	<input type="submit" value="change password" class="btn primary"/>					
			</p>
		</form>
{% endblock %}