{% extends 'base.html' %}

{% block title %} - Change Password Confirmation{% endblock %}

{% block left-nav %}
		<ul class="pills">
			<li><a href="/">Summary by Identifier </a></li>
			<li><a href="/referrer">Summary by Referrer </a></li>
			<li><a href="/password/change/">Change Password</a></li>
		</ul>
{% endblock left-nav %}



{% block right-table %}
<div class="alert-message success">
	<a class="close" href="#">×</a>
	<p>
		You successfully changed the password.
	</p>
</div>


{% endblock %}



