{% extends 'backbone/base.html' %}

{% block js %}
<script src="/static/js/plugin/jquery.tablesorter.js"></script>
<script src="/static/js/plugin/bootstrap-modal.js"></script>
<script>
$(function() {
	$("table#actions").tablesorter({widthFixed: true})
	$('.checkbox').on('click', function(){
		if ($('.checkbox:checked').length == 0)
		{
			$('button#edit, button#disable, button#enable').attr("disabled", "disabled");
		}
		else if ($('.checkbox:checked').length == 1)
		{
			$('button#edit, button#disable, button#enable').removeAttr("disabled", "");
		}
		else
		{
			$('button#edit').attr("disabled", "disabled");
			$('button#disable, button#enable').removeAttr("disabled", "");
		}
	});

	$('#edit').click(function(){
		$('#edit-action-id').val('');
		var action_id = $('.checkbox:checked').val();
		$('#edit-action-id').val(action_id);
	});
	
	$('#disable').click(function(){
		$('#disable-action-ls').val('');
		
		var actions = '';
		$('.checkbox:checked').each(function(){
			actions += $(this).val() + ',';
		});
		$('#disable-action-ls').val(actions);
		$('#disable-form').submit();
	});
	
	$('#enable').click(function(){
		$('#enable-action-ls').val('');
		
		var actions = '';
		$('.checkbox:checked').each(function(){
			actions += $(this).val() + ',';
		});
		$('#enable-action-ls').val(actions);
		$('#enable-form').submit();
	});
	
})
</script>
{% endblock %}

{% block css %}
input[type="checkbox"]{
	margin-right: 15px;
}

div#action{
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

div#action button{
	margin-left: 10px;
}

div#action button.first{
	margin-left: 0px;
}

div#action #enable, div#action #disable{
	float: right;
}

#action-description{
	width: 400px;
}
{% endblock %}

{% block content %}
<h1>Track Actions</h1>

<p>This part is to give a brief instruction</p>

{% include 'backbone/form_errors.html' %}

{% if action_type_ls %}
<div id="action">

	<button class="btn first" data-keyboard="true" data-backdrop="true" data-controls-modal="create-action-modal-from-dom">Create Action</button>
	<button class="btn" data-keyboard="true" data-backdrop="true" data-controls-modal="edit-action-modal-from-dom" id="edit" disabled="disabled">Edit</button>
	<button class="btn" id="enable" disabled="disabled">Enable</button>
	<button class="btn" id="disable" disabled="disabled">Disable</button>
	
</div>

<table id="actions" class="zebra-striped">
	<thead>
		<tr>
			<th class="header">Action ID</th>
			<th class="blue header">Action Name</th>
			<th class="yellow header" id="action-description">Action Description</th>
			<th class="green header">Enable</th>
		</tr>
	</thead>
	<tbody>
		{% for l in action_type_ls%}
			<tr>
				<td><input class="checkbox" type="checkbox" name="action_id" value="{{l.action_id}}"/> {{ l.action_id }}</td>
				<td>
					{{ l.action_name }}
				</td>
				<td>
					{{ l.description }}
				</td>
				<td>
					{{ l.enabled }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<button class="btn primary large" data-keyboard="true" data-backdrop="true" data-controls-modal="create-action-modal-from-dom">Create Action</button>
{% endif %}

<p>this part is going to describe how to implement the action</p>


<div id="create-action-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/createactions/">
		{% csrf_token %}
		<div class="modal-header">
			<a class="close" href="#">×</a>
			<h3>Create Action</h3>
		</div>
	
		<div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label>Action ID: </label>
					<div class="input">
						<input type="text" value="{{action_id}}" name="action_id" readonly="readonly"/>
					</div>
				</div>
				
				<div class="clearfix">
					<label>Action Name: </label>
					<div class="input">
						<input type="text" value="" name="action_name" />
					</div>
				</div>
			
				<div class="clearfix">
					<label>Action Description: </label>
					<div class="input">
						<textarea name="action_description"></textarea>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input class="btn primary" href="#" value="Save" type="submit">
		</div>
	</form>
</div>

<div id="edit-action-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/editactiontype/">
		{% csrf_token %}
		<div class="modal-header">
			<a class="close" href="#">×</a>
			<h3>Edit Action</h3>
		</div>
	
		<div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label>Action Name: </label>
					<div class="input">
						<input type="text" value="" name="action_name" />
					</div>
				</div>
			
				<div class="clearfix">
					<label>Action Description: </label>
					<div class="input">
						<textarea name="action_description"></textarea>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="modal-footer">
			<input class="btn primary" href="#" value="Save" type="submit">
		</div>
		
		<input type="hidden" id="edit-action-id" name="action_id" value="" />
	</form>
</div>

<form id="disable-form" action="/disableaction/" method="POST" style="display:hidden">
{% csrf_token %}
<input type="hidden" id="disable-action-ls" name="action_ls" value="" />
</form>

<form id="enable-form" action="/enableaction/" method="POST" style="display:hidden">
{% csrf_token %}
<input type="hidden" id="enable-action-ls" name="action_ls" value="" />
</form>

{% endblock %}