<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
	<link href="/static/css/main.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">
	<link href="/static/css/wordout.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">
	
	<style type="text/css">
	{% block css %}
	
	{% endblock %}
	</style>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
	
	{% block js%}
	
	
	{% endblock %}
	
</head>
<body>
	{% block header%}
			<div class="topbar">
		      <div class="fill">
		        <div class="container">
		          <a class="brand" href="/">Wordout.me</a>
				
				{% if user.is_authenticated %}
					<ul class="nav">
					     <li {% block dash_active %} class="active" {%endblock%}><a href="/">Dashboard</a></li>
					</ul>
					<p class="pull-right">Logged in as <a href="#">{{ user.username }}</a> | <a href="logout">logout</a></p>
				{% else %}
		          <form method="post" action="accounts/login/" class="pull-right">
							{% csrf_token %}
				            <input class="input-medium" type="text" placeholder="Username or Email" name="username">

				            <input class="input-medium" type="password" placeholder="Password" name="password">
				            <button class="btn" type="submit">Sign in</button> | 
							<a href="register">Sign up</a>
				  </form>
				{% endif %}	
				
		        </div>
		      </div>
		    </div>
	{% endblock %}
			
		  	<div class="container">
				{% block content %}
				    {% if user.is_authenticated %}
						
						<div class="row">
							
							<div class="span4">
								{% block left-nav %}
										<ul class="pills">
											<li class="active"><a href="/">Summary by Identifier</a></li>
											<li><a href="/referrer">Summary by Referrer</a></li>
											<li><a href="/password/change/">Change Password</a></li>
										</ul>
								{% endblock left-nav %}
							</div>
							
							<div class="span12">
								
								{% if form.errors %}
									<div class="alert-message block-message error">
										<a class="close" href="#">×</a>
										<p>
											<strong>You got an error!</strong>
										</p>
										<ul>
										{% for field in form %}
											{% if field.errors %}
												<li>{{field.name}}: {{ field.errors|striptags }}</li>
											{% endif %}
										{% endfor %}
										</ul>
									</div>
								{% endif %}
								
								
								
								{% block right-table %}
							
								
								
								
								
								
								{% endblock right-table %}
							</div>
						
					    {% block dashboard %}
					
					
					
					    {% endblock dashboard %}
						</div>
					
				    {% else %}
				
			          <!-- Main hero unit for a primary marketing message or call to action -->
			          <div class="hero-unit">
			            <h1>Wordout.me makes your users as marketers</h1>
			            <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

			          </div>
				    {% endif %}
				{% endblock content %}
			          <footer>
			            <p>&copy; Wordout.me 2011</p>

			          </footer>

			 </div> <!-- /container -->
</body>
</html>