{% extends 'base.html' %}

{% block title %}Summary by Identifier{% endblock %}



{% block js %}

<script src="static/js/plugin/jquery.tablesorter.min.js"></script>
<script src="static/js/plugin/bootstrap-modal.js"></script>
<script src="/static/js/lib.js"></script>
<script>

$(function() {
$("table#sortTableExample").tablesorter({});
});

$(document).ready(function(){
	load_data_to_modal('identifier');
})

</script>

{% endblock %}


{% block css %}
h1{
	width: 600px;
	margin: auto;
	margin-top: 150px;
}

h3{
	clear: both;
}

{% endblock %}

{% block left-nav %}
		<ul class="pills">
			<li class="active"><a href="/">Summary by Identifier</a></li>
			<li><a href="/referrer">Summary by Referrer</a></li>
			<li><a href="/password/change/">Change Password</a></li>
		</ul>
{% endblock left-nav %}



{% block right-table %}


{% if error %}
<!-- need loop through ul here -->
<div>{{ error.0.0}}</div>
{% endif %}



<p class="pull-left">
	<button class="btn primary" data-keyboard="true" data-backdrop="true" data-controls-modal="numeric-modal-from-dom">+ numeric identifier</button>
	<button class="btn primary" data-keyboard="true" data-backdrop="true" data-controls-modal="custom-modal-from-dom">+ custom identifier</button>
	<button class="btn primary" data-keyboard="true" data-backdrop="true" data-controls-modal="edit-modal-from-dom">edit redirect link</button>
</p>



{% if ls %}


<h3>Total Clicks: {{sum_clicks}}</h3>

<table id="sortTableExample" class="zebra-striped">
	<thead>
		
		<tr>
			<th class="header">Identifier</th>
			<th class="yellow header headerSortDown">Clicks</th>
			<th class="blue header">Link</th>
			<th class="green header">Enable</th>
		</tr>
	</thead>
	<tbody>
		{% for l in ls%}
			<tr>
				<td>{{ l.identifier }}</td>
				<td>{{ l.num }} <span class="label notice" id="{{l.id}}">detail</span></td>
				<td>
					<div><a href="wordout.me/{{l.code}}">wordout.me/{{ l.code }}</a></div>
					<div>{{ l.redirect_link }}</div>
				</td>
				<td>{{ l.enabled }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<!--
<div class="pagination">
	<ul>
			<li class="prev disabled"><a href="#">&larr; Previous</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li class="next"><a href="#">Next &rarr;</a></li>
		</ul>
</div>
-->
{% else %}
<h1>Create referral code for your users!</h1>
{% endif %}

<!------------------------------- -->


<div id="numeric-modal-from-dom" class="modal hide fade" style="display: block;">
	
	<form method="POST" action="/createnumeric/">
		{% csrf_token %}
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Generate numeric identifiers</h3>
	</div>
	
	<div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label for="numeric_start">Start number: </label>
					<div class="input">
						<input id="numeric_start" type="text" value="{{default_start}}" name="start" readonly="readonly">
					</div>
				</div>
			
				<div class="clearfix">
					<label for="numeric_end">End number: </label>
					<div class="input">
						<input id="numeric_end" type="text" name="end">
					</div>
				</div>
				
				<div class="clearfix">
					<label for="numeric_redirect_link">Redirect link: </label>
					<div class="input">
						<input id="numeric_redirect_link" type="text" name="redirect_link">
					</div>
				</div>
			</fieldset>
		
	</div>

	<div class="modal-footer">
		<input class="btn primary" href="#" id="numeric_save" value="Save" type="submit">
	</div>
	</form>
</div>

<!------------------------------- -->

<div id="custom-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/createcustom/">
	{% csrf_token %}
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Create custom identifiers</h3>
	</div>
	
	<div class="modal-body">
		
			
				<fieldset>
					<div class="clearfix">
						<label for="id_identifier">Identifier:</label>
						<div class="input">
							<input id="id_identifier" type="text" name="identifier">
						</div>
					</div>

					<div class="clearfix">
						<label for="id_redirect_link">Redirect link:</label>
						<div class="input">
							<input id="id_redirect_link" type="text" name="redirect_link">
						</div>
					</div>
						
				</fieldset>
			
	</div>
	
	<div class="modal-footer">
		<input class="btn primary" href="#" id="cusmtom_save" value="Save" type="submit">
	</div>
	</form>
</div>

<!------------------------------- -->


<div id="edit-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/editident/">
	{% csrf_token %}
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Edit all redirect links</h3>
	</div>
	<div class="modal-body">
		
			
			<fieldset>
				<div class="clearfix">
					<label for="id_redirect_link">Redirect link:</label>
					<div class="input">
						<input id="id_redirect_link" type="text" name="redirect_link">
					</div>
				</div>
					
			</fieldset>
		
	</div>
	<div class="modal-footer">
		<input class="btn primary" href="#" id="edit_save" value="Save" type="submit">
	</div>
	</form>
</div>


<!-- this modal is to hold the ajax request -->

<div id="detail-modal-from-dom" class="modal hide fade" style="display: block;">

	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Clicks come from the following referrers</h3>
	</div>
	<div class="modal-body">
		
			<table id="clickDetail" class="zebra-striped">
				<thead>

					<tr>
						<th class="header">Referrer</th>
						<th class="yellow header">Clicks</th>
					</tr>
				</thead>
				<tbody>
					<!--ajax result goes here -->
					
					
					
				</tbody>
			</table>
		
	</div>
	<div class="modal-footer">
		
	</div>
</div>



{% endblock %}

	