{% extends 'backbone/stats.html' %}

{% block js %}
<script src="static/js/plugin/jquery.tablesorter.min.js"></script>
<script src="static/js/plugin/jquery.tablesorter.pager.js"></script>
<script src="static/js/plugin/bootstrap-modal.js"></script>
<script src="/static/js/lib.js"></script>
<script>
$(function() {
$("table#sortTableExample")
	.tablesorter({widthFixed: true})
	.tablesorterPager({container: $("#pager"), positionFixed: false });
	
load_data_to_modal('identifier');

$('button#edit, button#disable').attr("disabled", "disabled");

});
</script>
{% endblock %}
{% block extend-css %}
input[type="checkbox"]{
	margin-right: 15px;
}

div#action{
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

div#action button{
	margin-left: 10px;
}

div#action button.first{
	margin-left: 0px;
}

button#msg{
	margin: 150px 0 0 250px;
}
{% endblock %}




{% block right-table %}

{% if ls %}
<div id="action">
	<button class="btn first" data-keyboard="true" data-backdrop="true" data-controls-modal="numeric-modal-from-dom">Compose codes</button>
	<button class="btn" data-keyboard="true" data-backdrop="true" data-controls-modal="edit-modal-from-dom">Edit Links</button>
</div>

<!--<h3>Total Clicks: {{sum_clicks}}</h3>-->

<table id="sortTableExample" class="zebra-striped">
	<thead>
		
		<tr>
			<th class="header">User ID</th>
			<th class="yellow header headerSortDown">Clicks</th>
			<th class="blue header">Link</th>
			<th class="green header">Enable</th>
		</tr>
	</thead>
	<tbody>
		{% for l in ls%}
			<tr>
				<td>{{ l.identifier }}</td>
				<td>{{ l.num }} <span class="label notice" id="{{l.id}}">detail</span></td>
				<td>
					<div><a href="http://wordout.me/{{l.code}}">wordout.me/{{ l.code }}</a></div>
					<div>{{ l.redirect_link }}</div>
				</td>
				<td>{{ l.enabled }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div id="pager" class="pager">
		<button class="btn first">first</button>
		<button class="btn prev">prev</button>
		<input type="text" class="pagedisplay span2" />
		<button class="btn next">next</button>
		<button class="btn last">last</button>
		Item per page: 
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
</div>

{% else %}
<button id="msg" class="btn primary large" data-keyboard="true" data-backdrop="true" data-controls-modal="numeric-modal-from-dom">COMPOSE PROMOTION CODES</button>
{% endif %}

<!------------------------------- -->


<div id="numeric-modal-from-dom" class="modal hide fade" style="display: block;">
	
	<form method="POST" action="/createnumeric/">
		{% csrf_token %}
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Create promotion code for your users</h3>
	</div>
	
	<div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label for="numeric_start">Start user id: </label>
					<div class="input">
						<input id="numeric_start" type="text" value="{{default_start}}" name="start" readonly="readonly">
					</div>
				</div>
			
				<div class="clearfix">
					<label for="numeric_end">End user id: </label>
					<div class="input">
						<input id="numeric_end" type="text" name="end">
					</div>
				</div>
				
				<div class="clearfix">
					<label for="numeric_redirect_link">Redirect link: </label>
					<div class="input">
						<input id="numeric_redirect_link" type="text" name="redirect_link">
					</div>
				</div>
			</fieldset>
		
	</div>

	<div class="modal-footer">
		<input class="btn primary" href="#" id="numeric_save" value="Save" type="submit">
	</div>
	</form>
</div>

<!------------------------------- -->


<div id="edit-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/editident/">
	{% csrf_token %}
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Edit links</h3>
	</div>
	<div class="modal-body">
		
			
			<fieldset>
				<div class="clearfix">
					<label for="id_redirect_link">Redirect link:</label>
					<div class="input">
						<input id="id_redirect_link" type="text" name="redirect_link">
					</div>
				</div>
					
			</fieldset>
		
	</div>
	<div class="modal-footer">
		<input class="btn primary" href="#" id="edit_save" value="Save" type="submit">
	</div>
	</form>
</div>


<!-- this modal is to hold the ajax request -->

<div id="detail-modal-from-dom" class="modal hide fade" style="display: block;">

	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Clicks come from the following links</h3>
	</div>
	<div class="modal-body">
		
			<table id="clickDetail" class="zebra-striped">
				<thead>

					<tr>
						<th class="header">Referrer</th>
						<th class="yellow header">Clicks</th>
					</tr>
				</thead>
				<tbody>
					<!--ajax result goes here -->
					
					
					
				</tbody>
			</table>
		
	</div>
	<div class="modal-footer">
		
	</div>
</div>
{% endblock %}

	