<html>
    <head>
        <title>Wordout</title>
    </head>
    <body>
        <h1>Welcome</h1>
        {% if user.username %}
            <div>{{user.username}}<a href="/logout">logout</a></div>
        {% else %}
            <div>anonymous user</div>
        {% endif %}

        {% if sum_clicks %}
            <div>{{sum_clicks}}</div>
        {% endif %}


        {% if ls %}
            {% for l in ls%}
            <div>identifier: {{l.identifier}}||clicks: {{l.num}}||redirect_link: {{l.redirect_link}}||code: {{l.code}}||enable: {{l.enabled}}
            </div>
            {% endfor %}
        {% endif %}


    </body>
</html>
