{% extends 'backbone/base.html' %}

{% block css %}
h2{
border-bottom: 1px solid #EEEEEE;
padding-bottom: 5px;
}


form{
margin-top: 20px;
}

label{
width: 120px;
padding-right: 5px;
}

ul li{
font-size: 15px;
line-height: 33px;
color: #404040;
}
{% endblock %}



{% block content %}
	<div class="row">
		
		<div class="span9">
			<h1>On Wordout.me, you can:</h1>
			<ul>
				<li>generate referral codes for your users in three seconds.</li>
				<li>motivate users to spread out your website/service through our api page.</li>
				<li>have complete analysis on the referral codes.</li>
			</ul>
		</div>
		
		
		<div class="span7">
			
			<h2>Sign up</h2>
        		<form method="post" action="/register/">
            		{% csrf_token %}
            		{{form.as_p}}
            		<p>
						<label id="id_register"></label>
						<input type="submit" value="register" class="btn primary"/>
					</p>
        		</form>
		</div>
	</div>
{% endblock content %}