{% extends 'backbone/base.html' %}

{% block js %}
<script>
$(function() {
	$('#change').click(function(){
		$('#change, #preview').hide();
		$('#redirect-link, #message-title, #message-body').removeAttr('disabled', '');
		$('#save-change').show();
	})
})
</script>
{% endblock %}

{% block content %}

{% if not redirect_link %}
    <div class="alert-message block-message warning">
    	<a class="close" href="#">×</a>
    	<p>
    	    THE FIRST STEP IS TO SET UP THE REFERRAL PROGRAM WITH PROPER REDIRECT LINK, MESSAGE TITLE AND MESSAGE BODY.
    	</p>
    </div>
{% endif %}

<h1>Sharer Page Plugin</h1>
<p>I am talking on sense right now. This part is basically a instruction that describes the iframe plugin, how it works. this part will also show them the client_key which is used to trigger the iframe. <strong>client_key: {{client_key}}</strong>
</p>
	
{% include 'backbone/form_errors.html' %}
<div>
    <h2>Step 1: Customize your sharer page.</h2>
    <form class="form-stacked" action="/setprogram/" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend></legend>

            <div class="clearfix">
                <label>Redirect Link</label>
                <div class="input">
                    <input class="xlarge" type="text" size="30" name="redirect_link" value="{% if redirect_link %} {{redirect_link}} {% endif %}" disabled="disabled" id="redirect-link">
                </div>
            </div>

            <div class="clearfix">
                <label>Sharer page title</label>
                <div class="input">
                    <input class="xlarge" type="text" size="30" name="message_title" value="{{message_title}}" disabled="disabled" id="message-title">
                </div>
            </div>

            <div class="clearfix">
                <label>Sharer page message</label>
                <div class="input">
                    <textarea name="message_body" class="xxlarge" disabled="disabled" id="message-body">{{message_body}}</textarea>
                </div>
            </div>
            <div>

                <a class="btn primary" id="change" href="#">Change</a>
                <button class="btn primary" type="submit" id="save-change" style="display:none">Save changes</button>
                <a class="btn primary" href="http://127.0.0.1:8000/client/123456789/example" id="preview" target="_blank">Preview</a>
            </div>
        </fieldset>
    </form>
</div>

<div>
    <h2>Step 2: Implement sharer page.</h2>
    <div class="alert-message block-message info">
        <p>
            <h5>Replace [sharer id] with your user id. Use this HTML Link in a Webpage</h5>
            <div>
                &lt;a href=&quot;http://wordout.me/client/{{ client_key }}/[sharer id]&quot;&gt;Reward Program&lt;/a&gt;
            </div>
        </p>
    </div>
</div>
<p>describes the beneft after the user can try out the code. </p>




{% endblock %}