{% extends 'backbone/stats.html' %}
{% block title %} - Referrer Summary{% endblock %}
{% block js %}
<script src="/static/js/plugin/jquery.tablesorter.min.js"></script>
<script src="/static/js/plugin/jquery.tablesorter.pager.js"></script>
<script src="/static/js/plugin/bootstrap-modal.js"></script>
<script src="/static/js/lib.js"></script>
<script>

$(function() {
$("table#sortTableExample")
	.tablesorter({ sortList: [[1,1]], widthFixed: true })
	.tablesorterPager({container: $("#pager"), positionFixed: false });

load_data_to_modal('referrer');
});
</script>

{% endblock %}

{% block extend-css %}

h1#msg{
	margin: 150px 0 0 60px;
}

{% endblock %}

{% block right-table %}
{% if ls.0.id %}
<table id="sortTableExample" class="zebra-striped">
	<thead>
		<tr>
			<th class="header">Host</th>
			<th class="yellow header headerSortDown">Clicks</th>
		</tr>
	</thead>
	<tbody>
		{% for l in ls%}
			<tr>
				<td>{{ l.host_name }} <span class="label notice" id="{{l.id}}">detail</span></td>
				<td>{{ l.clicks }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div id="pager" class="pager">
		<button class="btn first">first</button>
		<button class="btn prev">prev</button>
		<input type="text" class="pagedisplay span2" />
		<button class="btn next">next</button>
		<button class="btn last">last</button>
		Item per page: 
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
</div>


<div id="detail-modal-from-dom" class="modal hide fade" style="display: block;">

	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Clicks come from the following links</h3>
	</div>
	<div class="modal-body">
		
			<table id="clickDetail" class="zebra-striped">
				<thead>

					<tr>
						<th class="header">Link</th>
						<th class="yellow header">Clicks</th>
					</tr>
				</thead>
				<tbody>
					<!--ajax result goes here -->
					
					
					
				</tbody>
			</table>
		
	</div>
	<div class="modal-footer">
		
	</div>
</div>

{% else %}
<h1 id="msg">Create promote code for your users!</h1>
{% endif %}

{% endblock %}
