{% extends 'base.html' %}

{% block title %}Summary by Referrer{% endblock %}


{% block js %}

<script src="/static/js/plugin/jquery.tablesorter.min.js"></script>
<script src="/static/js/plugin/bootstrap-modal.js"></script>
<script>

$(function() {
$("table#sortTableExample").tablesorter({ sortList: [[1,1]] });
});

</script>

{% endblock %}

{% block css %}
h1{
	margin-top: 150px;
}

{% endblock %}

{% block left-nav %}
		<ul class="pills">
			<li><a href="/">Summary by Identifier</a></li>
			<li class="active"><a href="/referrer">Summary by Referrer</a></li>
			<li><a href="/password/change/">Change Password</a></li>
		</ul>
{% endblock left-nav %}



{% block right-table %}

{% if ls.0.id %}
<table id="sortTableExample" class="zebra-striped">
	<thead>
		
		<tr>
			<th class="header">Host</th>
			<th class="yellow header headerSortDown">Clicks</th>
		</tr>
	</thead>
	<tbody>
		{% for l in ls%}
			<tr>
				<td>{{ l.host_name }} <span class="label notice">detail</span></td>
				<td>{{ l.clicks }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h1>start your journey by creating the referral code</h1>
{% endif %}

{% endblock %}
