{% extends 'backbone/base.html' %}

{% block js %}
<script src="/static/js/plugin/bootstrap-modal.js"></script>
<script src="/static/js/detail.js"></script>
<script src="/static/js/get_ls_and_toggle.js"></script>
<script>
$(function() {

    load_data_to_modal('sharer');  //load data to detail modal

	$('#select-all').on('click', function(){
		var $checkbox = $('.checkbox');
		$checkbox.prop('checked', 'checked');
        $('table#actions td').css({'background-color': '#FFFFCC'});
		$('button#edit, button#disable, button#enable').removeAttr("disabled", "");
		$(this).hide();
        $('#select-total-message').html('All X sharers on this page are selected. <a href="#" id="select-total-sharers">Select all XXX sharers</a>');
		$('#unselect-all, #select-total-message').show();
	});
	
	$('#unselect-all').on('click', function(){
		var $checkbox = $('.checkbox');
		$checkbox.prop('checked', '');
        $('table#actions td').css({'background-color': ''});
		$('button#edit, button#disable, button#enable').attr("disabled", "disabled");
		$(this).hide();
		$('#select-all').show();
        $('#select-total-message').hide()
	});

    $('#select-total-sharers').live('click', function(){
        $('#sharer-ls').val('ALL');
        $('#select-total-message').html('ALL XX sharers are selected. <a href="#" id="clear-all-sharers">Clear selection</a>');
    });

    $('#clear-all-sharers').live('click', function(){
        $('#sharer-ls').val('');
        $('#select-total-message').html('All X sharers on this page are selected. <a href="#" id="select-total-sharers">Select all XXX sharers</a>');
        $('#unselect-all').click();
    });

    $('table#actions th').click(function(){
        window.location.href = $(this).children('a').attr('href');
    });

	$('.checkbox').click(function(){
        if ($(this).is(':checked'))
        {
            $(this).parent().parent().css('background-color', '#FFFFCC');
        }
        else
        {
            $(this).parent().parent().css('background-color', '');
        }

		if ($('.checkbox:checked').length == 0)
		{
			$('button#edit, button#disable, button#enable').attr("disabled", "disabled");
		}
		else
		{
			$('button#edit, button#disable, button#enable').removeAttr("disabled", "");
		}
        $('#sharer-ls').val(''); //remove ALL value
        $('#select-total-message').hide();
	});


    $('#edit').click(function(){
        $('#edit-link-error').hide().html('');
        $('#redirect-link').val('');
    });

	$('#submit-edit-link').click(function(){

        set_ls_from_checkbox('sharer-ls'); //from get_ls_and_toggle.js

        var link = $('#redirect-link').val();

        $.post('/changelink/',{
                    sharer_ls: $('#sharer-ls').val(),
                    redirect_link: link,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                function(data){
                    if (data['status'] == 'OK')
                    {
                        $('.checkbox:checked').each(function(){
                            $(this).parent().parent().find('.redirect_link').html(data['redirect_link']);
                        });
                        $('#exit-link-modal').click();
                    }
                    else
                    {
                        $('#edit-link-error').show().html(data['error']);
                    }
                }, "json");
	});
	
	$('#disable').click(function(){
        set_ls_from_checkbox('sharer-ls'); //from get_ls_and_toggle.js
        enable_or_disable('/disablesharer/', 'sharer-ls', '{{csrf_token}}');
	});
	
	$('#enable').click(function(){
        set_ls_from_checkbox('sharer-ls'); //from get_ls_and_toggle.js
        enable_or_disable('/enablesharer/', 'sharer-ls', '{{csrf_token}}');
	});

    $('a#previous').click(function(e){
        if ($(this).attr('disabled') == 'disabled')
        {
            e.preventDefault();
        }
    });

});
</script>
{% endblock %}

{% block css %}

input[type="checkbox"]{
	margin-right: 15px;
}

div#action{
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

div#action button{
	margin-left: 10px;
}

div#action button.first{
	margin-left: 0px;
}

span#pagination{
    float: right;
}

span#pagination #next{
    margin-left: 5px;
}
{% endblock %}

{% block content %}
{% include 'backbone/form_errors.html' %}
{% if ls %}
<div id="action">

	<button class="btn first" id="select-all">Select All</button>
	<button class="btn first" id="unselect-all" style="display:none">Unselect All</button>
	<button class="btn" data-keyboard="true" data-backdrop="true" data-controls-modal="create-sharer-modal-from-dom" id="create-sharer">Create Sharers</button>
	<button class="btn" data-keyboard="true" data-backdrop="true" data-controls-modal="edit-link-modal-from-dom" id="edit" disabled="disabled">Edit Links</button>
	<button class="btn" id="enable" disabled="disabled">Enable</button>
	<button class="btn" id="disable" disabled="disabled">Disable</button>

    <span id="pagination">

        {{display_start}}-{{display_end}} of {{total_sharer_count}}

        {% if previous_page_url %}
            <a id="previous" href="{{previous_page_url}}" class="btn""><</a>
        {% endif %}

        {% if next_page_url %}
            <a id="next" href="{{next_page_url}}" class="btn">></a>
        {% endif %}

    </span>
	
</div>
<table id="actions" class="zebra-striped">
    <div class="alert-message warning" id="select-total-message" style="display:none"></div>
	<thead>
		<tr>
            {% for header in sort_links %}
                <th {% if header.header_arrow %} class="header {{header.header_arrow}}" {% endif %}><a href="{{header.sort_url}}">{{header.display_name}}</a></th>
            {% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for sharer in ls%}

			<tr>
				<td>
                    <input class="checkbox" type="checkbox" name="sharer_id" value="{{sharer.sharer_identifier}}"/>{{ sharer.sharer_identifier }}
                </td>
				<td>
					<div><a href="http://{{request.get_host}}/{{sharer.code}}" target="_blank">{{request.get_host}}/{{ sharer.code }}</a></div>
					<div class="redirect_link">{{ sharer.redirect_link }}</div>
				</td>
				<td>{{ sharer.click_total }}
					{% if sharer.click_total > 0 %}
						<span class="label notice" id="{{sharer.sharer_identifier}}">detail</span>
					{% endif %}		
				</td>
				{% for action_type in sharer.action_type_set %}
					<td>{{ action_type.action_count }}</td>
				{% endfor %}
                <td class="enable">
                    {% if sharer.enabled %}
                        enable
                    {% else %}
                        disable
                    {% endif %}
                </td>
			</tr>
		{% endfor %}
	</tbody>
</table>


<!-- this modal is to hold the ajax request for referrer by sharer -->

<div id="detail-modal-from-dom" class="modal hide fade" style="display: block;">

    <div class="modal-header">
        <a class="close" href="#">×</a>
        <h3>Clicks come from the following links</h3>
    </div>
    <div class="modal-body">
        <table id="clickDetail" class="zebra-striped">
            <thead>
            <tr>
                <th class="header">Referrer</th>
                <th class="yellow header">Clicks</th>
            </tr>
            </thead>
            <tbody>
            <!--ajax result goes here -->



            </tbody>
        </table>
    </div>
    <div class="modal-footer">

    </div>
</div>

<!------------------------------- -->

<div id="edit-link-modal-from-dom" class="modal hide fade" style="display: block;">

    <form>
        <!--  <form method="POST" action="/changelink/" id="edit-link-form">-->
        <div class="modal-header">
            <a class="close" href="#" id="exit-link-modal">×</a>
            <h3>Edit links</h3>
        </div>


        <div class="modal-body">

            <fieldset>
                <div class="clearfix">
                    <div class="alert-message error" style="display: none" id="edit-link-error">
                    </div>
                    <label>Redirect link:</label>
                    <div class="input">
                        <input type="text" name="redirect_link" id="redirect-link">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="modal-footer">
            <input class="btn primary" href="#" value="Save" type="button" id="submit-edit-link">
        </div>
    </form>
</div>


<input type="hidden" id="sharer-ls" name="sharer_ls" value="" /> <!-- to hold the post value for sharer ls -->


{% else %}
<div class="hero-unit">
	<h1>Get Started</h1>
	<p>
		It's time to get started with creating a referral program.  Click the "<B>Create Sharers</B>" button to
	</p>

	<p>
		<button class="btn primary large" data-keyboard="true" data-backdrop="true" data-controls-modal="create-sharer-modal-from-dom">CREATE SHARERS</button>
	</p>
</div>

{% endif %}

<!------------------------------- -->

<div id="create-sharer-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/createsharer/" id="create-sharer-form">
		{% csrf_token %}
	    <div class="modal-header">
		    <a class="close" href="#">×</a>
		    <h3>Create Sharers</h3>
	    </div>
	
	    <div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label>Start sharer id:</label>
					<div class="input">
						<input type="text" value="{{total_acount_sharer|add:"1"}}" name="start" readonly="readonly">
					</div>
				</div>
			
				<div class="clearfix">
					<label>End sharer id: </label>
					<div class="input">
						<input type="text" name="end">
					</div>
				</div>
				
				<div class="clearfix">
					<label>Redirect link: </label>
					<div class="input">
						<input type="text" name="redirect_link">
					</div>
				</div>
			</fieldset>
	    </div>

	    <div class="modal-footer">
		    <input class="btn primary" href="#" value="Save" type="submit">
	    </div>
	</form>
</div>
{% endblock %}
