{% extends 'backbone/base.html' %}

{% block js %}
<script src="/static/js/plugin/jquery.tablesorter.js"></script>
<script src="/static/js/plugin/jquery.tablesorter.pager.js"></script>
<script src="/static/js/plugin/bootstrap-modal.js"></script>
<script>
$(function() {
	
	load_data_to_modal('sharer');  //load data to detail modal

	$('table#actions').tablesorter({widthFixed: true});

	$('#select-all').on('click', function(){
		var $checkbox = $('.checkbox');
		$checkbox.prop('checked', 'checked');
		$('button#edit, button#disable, button#enable').removeAttr("disabled", "");
		$(this).hide();
        $('#select-total-message').html('All X sharers on this page are selected. <a href="#" id="select-total-sharers">Select all XXX sharers</a>');
		$('#unselect-all, #select-total-message').show();
	});
	
	$('#unselect-all').on('click', function(){
		var $checkbox = $('.checkbox');
		$checkbox.prop('checked', '');
		$('button#edit, button#disable, button#enable').attr("disabled", "disabled");
		$(this).hide();
		$('#select-all').show();
        $('#select-total-message').hide()
	});

    $('#select-total-sharers').live('click', function(){
        $('#sharer-ls').val('ALL');
        $('#select-total-message').html('ALL XX sharers are selected. <a href="#" id="clear-all-sharers">Clear selection</a>');
    });

    $('#clear-all-sharers').live('click', function(){
        $('#sharer-ls').val('');
        $('#select-total-message').html('All X sharers on this page are selected. <a href="#" id="select-total-sharers">Select all XXX sharers</a>');
        $('#unselect-all').click();
    });

	$('.checkbox').click(function(){
		if ($('.checkbox:checked').length == 0)
		{
			$('button#edit, button#disable, button#enable').attr("disabled", "disabled");
		}
		else
		{
			$('button#edit, button#disable, button#enable').removeAttr("disabled", "");
		}
        $('#sharer-ls').val(''); //remove ALL value
        $('#select-total-message').hide();

	});

	$('#edit').click(function(){
        if ($('#sharer-ls').val() != 'ALL')
        {
            $('#sharer-ls').val('');

            var sharer = '';
            $('.checkbox:checked').each(function(){
                sharer += $(this).val() + ',';
            });
            $('#sharer-ls').val(sharer);
        }
        alert($('#sharer-ls').val());
	});
	
	$('#disable').click(function(){
        if ($('#sharer-ls').val() != 'ALL')
        {
            $('#sharer-ls').val('');

            var sharer = '';
            $('.checkbox:checked').each(function(){
                sharer += $(this).val() + ',';
            });
            $('#sharer-ls').val(sharer);
            //$('#disable-form').submit();
        }
        alert($('#sharer-ls').val());
	});
	
	$('#enable').click(function(){
		$('#enable-sharer-ls').val('');
		
		var sharer = '';
		$('.checkbox:checked').each(function(){
			sharer += $(this).val() + ',';
		});
		$('#enable-sharer-ls').val(sharer);
		$('#enable-form').submit();
	});

});
</script>
{% endblock %}

{% block css %}

strike{
    color: red;
}

input[type="checkbox"]{
	margin-right: 15px;
}

div#action{
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

div#action button{
	margin-left: 10px;
}

div#action button.first{
	margin-left: 0px;
}

span#pagination{
    float: right;
}

span#pagination #next{
    margin-left: 0;
}

{% endblock %}

{% block content %}
{% include 'backbone/form_errors.html' %}
{% if ls %}
<div id="action">

	<button class="btn first" id="select-all">Select All</button>
	<button class="btn first" id="unselect-all" style="display:none">Unselect All</button>
	<button class="btn" data-keyboard="true" data-backdrop="true" data-controls-modal="create-sharer-modal-from-dom" id="create-sharer">Create Sharers</button>
	<button class="btn" data-keyboard="true" data-backdrop="true" data-controls-modal="edit-link-modal-from-dom" id="edit" disabled="disabled">Edit Links</button>
	<button class="btn" id="enable" disabled="disabled">Enable</button>
	<button class="btn" id="disable" disabled="disabled">Disable</button>

    <span id="pagination">
        X of XXXX
        <button class="btn prev"><</button>
        <button class="btn next" id="next">></button>
    </span>
	
</div>
<table id="actions" class="zebra-striped">
    <div class="alert-message warning" id="select-total-message" style="display:none"></div>
	<thead>	
		<tr>
			<th class="header">Sharer ID</th>
			<th class="blue header">Link</th>
			<th class="yellow header headerSortDown">Clicks</th>
			{% if ls.0.action_type_set %}
				{% for action_type in ls.0.action_type_set %}
					<th class="header green">{{action_type.action_name}}</th>
				{% endfor %}
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for sharer in ls%}

			<tr>
				<td>
                    {% if not sharer.enabled  %}
                        <strike>
                    {%  endif %}
                        <input class="checkbox" type="checkbox" name="sharer_id" value="{{sharer.sharer_identifier}}"/>{{ sharer.sharer_identifier }}
                    {%  if not sharer.enabled  %}
                        </strike>
                    {%  endif %}
                </td>
				<td>
					<div><a href="http://wordout.me/{{sharer.code}}">wordout.me/{{ sharer.code }}</a></div>
					<div>{{ sharer.redirect_link }}</div>
				</td>
				<td>{{ sharer.click_total }}
					{% if sharer.click_total > 0 %}
						<span class="label notice" id="{{sharer.customer_sharer_identifier}}">detail</span>
					{% endif %}		
				</td>
				{% for action_type in sharer.action_type_set %}
					<td>{{ action_type.action_total }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<div class="hero-unit">
	<h1>Hello, world!</h1>
	<p>
		Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
	</p>

	<p>
		<button class="btn primary large" data-keyboard="true" data-backdrop="true" data-controls-modal="create-sharer-modal-from-dom">CREATE SHARERS</button>
	</p>
</div>

{% endif %}

<!------------------------------- -->


<div id="create-sharer-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/createsharer/" id="create-sharer-form">
		{% csrf_token %}
	    <div class="modal-header">
		    <a class="close" href="#">×</a>
		    <h3>Create Sharers</h3>
	    </div>
	
	    <div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label>Start sharer id:</label>
					<div class="input">
						<input type="text" value="{{default_start}}" name="start" readonly="readonly">
					</div>
				</div>
			
				<div class="clearfix">
					<label>End sharer id: </label>
					<div class="input">
						<input type="text" name="end">
					</div>
				</div>
				
				<div class="clearfix">
					<label>Redirect link: </label>
					<div class="input">
						<input type="text" name="redirect_link">
					</div>
				</div>
			</fieldset>
	    </div>

	    <div class="modal-footer">
		    <input class="btn primary" href="#" value="Save" type="submit">
	    </div>
	</form>
</div>

<!------------------------------- -->


<div id="edit-link-modal-from-dom" class="modal hide fade" style="display: block;">
	<form method="POST" action="/changelink/" id="edit-link-form">
	    {% csrf_token %}
	    <div class="modal-header">
		    <a class="close" href="#">×</a>
		    <h3>Edit links</h3>
	    </div>
	    
        <div class="modal-body">
			<fieldset>
				<div class="clearfix">
					<label>Redirect link:</label>
					<div class="input">
						<input type="text" name="redirect_link">
					</div>
				</div>
				<input id="edit-link-sharer-ls" name="edit_link_sharer_ls" value="" type="hidden"/>
					
			</fieldset>
	    </div>

	    <div class="modal-footer">
		    <input class="btn primary" href="#" value="Save" type="submit">
	    </div>
	</form>
</div>


<!-- this modal is to hold the ajax request -->

<div id="detail-modal-from-dom" class="modal hide fade" style="display: block;">

	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Clicks come from the following links</h3>
	</div>
	<div class="modal-body">
		<table id="clickDetail" class="zebra-striped">
			<thead>
				<tr>
					<th class="header">Referrer</th>
					<th class="yellow header">Clicks</th>
				</tr>
			</thead>
			<tbody>
					<!--ajax result goes here -->
					
					
					
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		
	</div>
</div>


<input type="hidden" id="sharer-ls" name="sharer_ls" value="" /> <!-- to hold the post value for sharer ls -->
        
<!--
<form id="disable-form" action="/disablesharer/" method="POST" style="display:hidden">
    {% csrf_token %}
    <input type="hidden" id="disable-sharer-ls" name="sharer_ls" value="" />
</form>

<form id="enable-form" action="/enablesharer/" method="POST" style="display:hidden">
    {% csrf_token %}
    <input type="hidden" id="enable-sharer-ls" name="sharer_ls" value="" />
</form>
-->
{% endblock %}
