{% extends 'backbone/base.html' %}

{% block content %}
<div class="row">
	<div class="span3">
		<ul class="unstyled">
			<li>
				<a href="/apidoc/overview/">Overview</a>
			</li>
			<li>
				<a href="/apidoc/doAction/">doAction</a>
			</li>
			<li>
				<a href="/apidoc/getAllSharers/">getAllSharers</a>
			</li>
			<li>
				<a href="/apidoc/getSharerInfo/">getSharerInfo</a>
			</li>
			<li>
				<a href="/apidoc/addSharer/">addSharer</a>
			</li>
			<li>
				<a href="/apidoc/toggleSharer/">toggleSharer</a>
			</li>
			<li>
				<a href="/apidoc/getActionType/">getActionType</a>
			</li>
		</ul>
	</div>
	
	<div class="span13">
		{% block api_overview_subcontent %}
	
		
		{% endblock %}
	</div>
</div>
{% endblock %}
