{% extends 'backbone/base.html' %}

{% block css %}
div.span3{
width: 159px;
border-right: 1px solid #EEEEEE;
}

ul.unstyled li{
padding: 10px 0 10px 5px;
}
{% endblock %}


{% block sub-css %}


{% endblock %}

{% block content %}
<div class="row">
	<div class="span3">
		<ul class="unstyled">
			<li>
				<a href="/apidoc/overview/">Overview</a>
			</li>
			<li>
				<a href="/apidoc/doAction/">doAction</a>
			</li>
			<li>
				<a href="/apidoc/getSharer/">getSharer</a>
			</li>
            <li>
                <a href="/apidoc/getAllSharers/">getAllSharers</a>
            </li>
			<li>
				<a href="/apidoc/toggleSharer/">toggleSharer</a>
			</li>
			<li>
				<a href="/apidoc/getActionType/">getActionType</a>
			</li>
		</ul>
	</div>
	
	<div class="span13">
		{% block api_overview_subcontent %}
	
		
		{% endblock %}
	</div>
</div>
{% endblock %}
